
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: white;
    line-height: 1.6;
}


.gradient-text {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.gradient-bg {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    transition: background 0.3s ease;
}

.gradient-bg:hover {
    background: linear-gradient(90deg, #feb47b, #ff7e5f);
}

/* Gradient Border */
.gradient-border {
    border: 3px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(90deg, #ff7e5f, #feb47b);
}

/* Custom Nav-Link Hover */
.nav-link {
    text-decoration: none;
    color: white;
    position: relative;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

/* real */
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.animated-gradient {
    background: linear-gradient(45deg, #7f00ff, #e100ff, #d1c4e9);
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
    color: white;
}
